<!DOCTYPE html>
<html lang="en">
<%-include("../partials/head.ejs") %>
<body>
    <div>
    <%-include("../partials/header.ejs") %>

        <div class="container">

            <nav class = navbar>
                <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/new">New Patient</a></li>
                <li><a href="/<%=patient._id%>">Patient Test</a></li>
            </ul>
            </nav>
        </div>
    </div>

    <main>
        <div>
            <h2><%=patient.name%></h2>
            <h3>Date of Birth: <%=patient.dateOfBirth.toLocaleDateString()%></h3>
            <form action="/<%=patient._id%>?_method=PUT" method="post">
                <fieldset>
                    <div class="fieldsetDiv">
                    <legend> Update <%=patient.name%>'s Information</legend>
                    <label>Name: <input type="text" name="name" placeholder="patient name" value="<%=patient.name%>"></label>
                    <label>Date of Birth: <input type="date" name="dateOfBirth" value="<%=patient.dateOfBirth.toISOString().split('T')[0]%>"></label>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="fieldsetDiv">
                    <legend>Update <%=patient.test%></legend>
                    <label>Gram Stain:
                        <select id="gramStain" name="gramStain">
                            <option>Gram Positive Cocci</option>
                            <option>Gram Negative Cocci</option>
                            <option>Gram Positive Bacilli</option>
                            <option>Gram Negative Bacilli</option>
                        </select>
                    </label>
                    <label>Plates: <input type="text" name="plates" value="<%=patient.plates%>"></label>
                    <label>Colony Description: <input type="text" name="colonyDescription" value="<%=patient.colonyDescription%>"></label>
                    <label>Identification: <input type="text" name="bacteriaIdentification" value="<%= patient.bacteriaIdentification !== undefined ? patient.bacteriaIdentification : '' %>"></label>
                    <lable>Test Completed: <input type="checkbox" name="testCompleted" <%patient.testCompleted ? "checked" : ""%>></lable>
                </div>
                </fieldset>
                <button>Update Test</button>

            </form>
        </div>
    </main>
    <script src="../public/app.js"></script>
</body>
</html>