<!DOCTYPE html>
<html lang="en">
<%-include("../partials/head.ejs")%>
<body>
    <%-include("../partials/header.ejs")%>
    <div class="navbar"><a href="/new"><button>Add a New Patient</button></a></div>
    
    <main>
        <div>
            <% for(let patient of patients){ %>
                <article>
                    <a href="/<%=patient._id%>">
                    <h2>
                        Name: <%=patient.name %> <br> Date of Birth: <%=patient.dateOfBirth.toLocaleDateString()%>
                    </h2>
                    <h3>
                        <%=patient.test%> - <%= patient.testCompleted ? "Test Completed" : "Testing in Progress"%>
                        <%if(patient.testCompleted) {%>
                            <br> Culture Identification: <%=patient.bacteriaIdentification%>
                        <%}%>
                    </h3>
                    </a>
                </article>

                <a href="/<%=patient._id%>/edit"><button>Edit Patient Test</button></a>

            <%}%>
        </div>
    </main>

</body>
</html>