<!DOCTYPE html>
<html lang="en">
<%-include("../partials/head.ejs")%>
<body>
    <%-include("../partials/header.ejs")%>
    <div class="navbar">

    </div>
    
    <main>
        <div>

            <% for(let patient of patients){ %>
                <article>
                    <a href="/<%=patient._id%>">
                    <h2>
                        Name: <%=patient.name %> <br> Date of Birth: <%=patient.dateOfBirth.toLocaleDateString()%>
                    </h2>
                    <h3>
                        <%=patient.test%> - <%= patient.testCompleted ? "Test Completed" : "Testing in Progress"%>
                        <%if(patient.testCompleted) {%>
                            <br> Culture Identification: <%=patient.bacteriaIdentification%>
                        <%}%>
                    </h3>

                    <div class="buttonDiv">
                        <a href="/<%=patient._id%>/edit"><button>Edit Patient Test</button></a>
                    </div>

                    <div>
                        <form action="/<%=patient._id%>?_method=DELETE" method="POST"><button>Delete</button></form>
                    </div>

                    </a>
                </article>

                

            <%}%>
        </div>
    </main>

</body>
</html>